@use '@/app/variables.scss' as var;

.articles {
  clear: both;
  margin: 10px 0 20px;
  padding-left: 10px;
  border-left: 2px dashed #ddd;

  .article {
    font-size: 0.8rem;
    padding: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .articles {
    border-color: #666;
  }
}
