@use '@/app/variables.scss' as var;

.article {
  clear: left;
  display: flex;
  align-items: center;
  padding: 5px 0;

  .logo {
    margin-right: 6px;
    vertical-align: -2px;
  }

  .title {
    flex-grow: 1;
    padding-right: 10px;
    font-size: 1.1rem;
  }

  .elapsed {
    color: #999;
    font-size: 0.8rem;
    flex-shrink: 0;
    margin-top: 4px;
  }

  &:visited strong {
    color: #aaa;
  }

  strong {
    color: var.$text-point-color;
  }
}

.content {
  display: -webkit-box;
  margin: 0 0 20px;
  font-size: 0.85rem;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;

  &:visited strong {
    color: #aaa;
  }

  strong {
    color: var.$text-point-color;
  }
}

@media (prefers-color-scheme: dark) {
  .article, .content {
    &:visited strong {
      color: #666;
    }

    strong {
      color: var.$text-point-color-dark;
    }
  }
}
