$text-color: #333;
$text-point-color: #e04b0e;
$background-color: #462516;
$navbar-background-color: #d3541e;
$navbar-active-color: #f70;
$navbar-text-color: #fff;
$content-background-color: #fff;
$input-background-color: #fafafa;

$text-color-dark: #ccc;
$text-point-color-dark: #fc6b31;
$background-color-dark: #2a1409;
$navbar-background-color-dark: #a23b10;
$navbar-active-color-dark: #bd5927;
$navbar-text-color-dark: #ddd;
$content-background-color-dark: #2c2828;
$input-background-color-dark: #513232;
