@use '@/app/variables.scss' as var;

.title {
  margin: 10px 0 20px;
  font-size: 1.2rem;
  font-weight: 700;
}

.keywords {
  text-align: justify;
  line-height: 1.5;
  font-size: 1.1rem;

  .keyword {
    display: inline-block;
    margin: 0 5px 5px 0;
  }
}

#content div.keyword .summary a {
  flex-grow: 1;
  flex-basis: auto;
  margin: 20px 1px 0;
}

#content div.keyword li.keyword a.keyword {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-point);
  margin: 20px 0 5px;
}

#content div.keyword li.keyword li.article a {
  font-size: 1.1rem;
  padding: 0;
}
