@use '@/app/variables.scss' as var;

.footer {
  margin: 0 10px;
  font-size: 0.9rem;

  a {
    text-decoration: underline;
  }

  img {
    vertical-align: -2px;
    margin-right: 3px;
  }
}

@media (width >= 820px) {
  .footer {
    margin: 0 20px;
  }
}
